<div class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light justify-content-between">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <a routerLink="/">Home</a>
          <a routerLink="/products">Products</a>
          <a routerLink="/about">About</a>
          <a routerLink="/client">Client</a>
          <a routerLink="/contact">Contact</a>
        </div>
        <span class="toggle_icon" (click)="openNav()"><img src="assets/images/toggle-icon.png"></span>
        <a class="logo" routerLink="/"><img src="assets/images/logo.png"></a>
        <form class="form-inline ">
          <div class="login_text">
            <ul>
              <li><a href="#"><img src="assets/images/user-icon.png"></a></li>
              <li><a href="#"><img src="assets/images/bag-icon.png"></a></li>
              <li><a href="#"><img src="assets/images/search-icon.png"></a></li>
            </ul>
          </div>
        </form>
      </nav>
    </div>
  </div>
  