<div class="footer_section layout_padding">
    <div class="container">
      <div class="footer_logo"><a routerLink="/"><img src="assets/images/footer-logo.png"></a></div>
      <div class="contact_section_2">
        <!-- Footer contact information -->
      </div>
      <div class="social_icon">
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  